
body {
 margin: 0;
 font-family: 'Segoe UI', sans-serif;
 background: linear-gradient(to right, #f8f3ff, #fff0f6);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 40px;

    background: linear-gradient(
        to right,
        #2e153f,
        #5a267d,
        #7c4bb0
    );

    color: white;
}

.hero-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid rgba(255,255,255,0.7);
}


.hero-texto h1 {
    margin: 0;

    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    font-weight: 600;

    color: white;
    line-height: 1;
}

.hero-texto p {
    margin-top: 5px;
    color: #666;
}

/* SECCIONES */
.section {
 padding: 40px 20px;
}

.page_body{
    text-align: center;
    padding: 10px 20px;
}
.page_body h1 {
 color: #6a2c91;
}
.page_body p {
 text-align: left;
}

/* TERAPIA DESTACADA */
.highlight {
 background: linear-gradient(135deg, #6a2c91, #c9a7eb);
 color: white;
 padding: 30px;
 border-radius: 20px;
 margin: 0 30px 40px 30px;
 position: relative;
 
}

.titulo-centro {
    text-align: center;
}

/* ETIQUETA */
.badge {
 position: absolute;
 top: 10px;
 right: 10px;
 background: gold;
 padding: 5px 10px;
 border-radius: 15px;
 font-size: 12px;
}

/* SERVICIOS */
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.card {
 background: white;
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* CERTIFICADO */
.certificado {
 text-align: center;
 margin: 40px 0;
}

.certificado img {
 width: 260px;
 margin: 0;
 display: block;
 margin-left: auto;
 margin-right: auto;
 transition: transform 0.3 ease;
}

.certificado img:hover{
    transform: scale(1.03);
}


/* sobre mi */
.lessa {
 text-align: center;
 margin: 40px 0;
}

.lessa img {
 width: 100%;
 height: auto;
 margin: 0;
 display: block;
 margin-left: auto;
 margin-right: auto;
 transition: transform 0.3 ease;
}

.lessa img:hover{
    transform: scale(1.03);
}

.masage {
 text-align: center;
 margin: 40px 0;
}

.masage img {
 width: 60%;
 height: auto;
 margin: 0;
 display: block;
 margin-left: auto;
 margin-right: auto;
 transition: transform 0.3 ease;
}

.masage img:hover{
    transform: scale(1.03);
}

/* CONTACTO */
.contact {
    background: #6a2c91;
    color: white;
    padding: 40px 30px;
    margin-top: 50px;
}

input, select, textarea {
 width: 100%;
 margin: 8px 0;
 padding: 10px;
 border-radius: 10px;
 border: none;
 box-sizing: border-box;
}

button {
 width: 100%;
 padding: 12px;
 border-radius: 20px;
 border: none;
 background: #25D366;
 color: white;
 font-size: 16px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-btn {
    background: rgba(255,255,255,0.15);
    color: white;

    width: 60px;
    height: 60px;

    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    position: relative;

}
/* Botón 
.dropdown-btn,
.btn-home {
    background: #6a2c91;
    color: white;

    width: 60px;
    height: 60px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    text-decoration: none;
    box-sizing: border-box;
}
.dropdown-btn {
    font-size: 32px;
}

.btn-home svg {
    width: 32px;
    height: 32px;
}
.btn-home svg {
    width: 36px;
    height: 36px;
}

/* Contenedor */

#contenedor-dropdown {
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
   
}


/* Menú oculto */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;

    background: white;
    min-width: 180px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    border-radius: 10px;

    overflow: hidden;
    margin-top: 8px;

    animation: fadeIn 0.2s ease;
    z-index: 9999;
}

/* Opciones */
.dropdown-content a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
  transition: background 0.2s;
}

.dropdown-content a:hover {
     background: #6a2c91;

}

/* Animación */
@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}

/* Mostrar menú */
.show {
  display: block;
}

/* FOOTER */
footer {
 text-align: center;
 padding: 15px;
 background: #333;
 color: white;
}

.faq details {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.faq summary {
  cursor: pointer;
  font-weight: 500;
  list-style: none;
}

.faq summary::-webkit-details-marker {
  display: none;
}

/* Flechita */
.faq summary::after {
  content: "＋";
  float: right;
}

.faq details[open] summary::after {
  content: "−";
}

.faq p {
  margin-top: 10px;
  color: #555;
}

.titulo-enlace {
    color: inherit;          /* Usa el mismo color del h1 */
    text-decoration: none;   /* Quita el subrayado */
    font: inherit;           /* Hereda fuente, tamaño, peso, etc. */
}


@media (max-width: 480px) {

    .hero-foto {
        width: 50px;
        height: 50px;
    }

    .hero-texto h1 {
        font-size: 1.6rem;
    }

}